/*
	Copyright (c) 2018 by Ilya Barykin
	Released under the MIT License.
	See the provided LICENSE.TXT file for details.
*/

#ifndef REPOSTBOT_VARS_H
#define REPOSTBOT_VARS_H

// Storage variables
#define STORAGE_FILE "~/.config/RepostBot/config.json"
#define CACHE_PATH "~/.cache/RepostBot/"

// Create bot through @BotFather
#define TELEGRAM_TOKEN "< Telegram token >"

#define VK_TOKEN "< VK token >"


#define VK_AUTH_ID "< VK App id >"
#define VK_AUTH_SECRET "< VK App secret >"

// If App url is present, App will receive code right after authorization(auth page will redirect to url), and no need for sending instructions about it
#define VK_AUTH_URL "https://oauth.vk.com/blank.html"


#endif //REPOSTBOT_VARS_H
